<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta name="theme-color" content="{{ site.chrome-tab-theme-color }}" />

<!-- Web App Manifest -->
<link rel="manifest" href="/pwa/manifest.json" />

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico" />

<!-- Bootstrap Core CSS -->
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
/>

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/main.css" />

<!-- Custom Fonts -->
<script src="https://kit.fontawesome.com/efb9802854.js" crossorigin="anonymous"></script>

<link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
    rel="stylesheet"
/>


<!--[if IE]>
    <style>
        /* old IE unsupported flexbox fixes */
        .greedy-nav .site-title {
            padding-right: 3em;
        }
        .greedy-nav button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    </style>
<![endif]-->
