---
layout: page
title: "About"
header-img: "public/static/images/about-bg.jpg"
multilingual: true
permalink: /about/
---


{% include multilingual-sel.html %}

<!-- Korean Version -->
<div class="ko post-container">
    {% capture about_ko %}{% include about/ko.md %}{% endcapture %} {{ about_ko
    | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %} {{ about_en
    | markdownify }}
</div>

<!-- disqus box start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus box end -->

<!-- disqus start -->
<script>
var disqus_config = function () {
this.page.url = "{{site.url}}";
this.page.identifier = "{{page.id}}";;
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.async = true;
s.src = 'https://{{site.disqus_username}}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<!-- disqus end -->
