<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- SEO -->
        {% include seo.html %} {% include_cached head.html %}
    </head>

    <!-- hack iOS CSS :active style -->
    <body ontouchstart="">
        {% include_cached browser-upgrade.html %} 

        {% include nav.html %} 

        {{ content }}

        <!-- Footer -->
        <footer>
            {% include_cached footer.html %}
        </footer>

        {% include scripts.html %}
    </body>
</html>
